/* $Id$ */

/**
 * @file
 * Styles that defines the general layout.
 *
 */


#page {
  width: 960px;
  margin: 0 auto;
}
#header {
  padding: 10px 0 15px 0;
  height: 85px; /* 110 - 25 */
}
#logo-title {
  float: left;
  width: 650px;
  margin-left: 25px;
}
#logo {
  float: left;
}
#site-name,
#site-slogan {
  margin-left: 60px; /* width of logo + 10px */
}
#search-box {
  text-align: right;
  margin-right: 10px;
}
#sidebar-right {
  float: left;
  width: 240px;
  margin: 20px 16px 20px 0; /* 4px of borders */
}
body.no-sidebars #main {
  width: 960px;
}
body.one-sidebar #main {
  float: left;
  width: 700px; /* 960 - 240 - (10x2) */
}
#main #content {
  padding: 20px;
}
body.no-sidebars #main #content .node {
  text-align: center;
}
body.no-sidebars #main * {
  text-align: left;
}
body.no-sidebars #main #content-content {
  width: 682px;
  margin: 0 auto;
}
#footer-wrapper {
  margin: 0 20px 40px 20px;
  padding: 5px 0;
}